<!doctype html>
<html>
<head>
<title>redis改进工具</title>
<link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="styles/room.css">
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Turn checkboxes and radio buttons into toggle switches.">
    <meta name="author" content="Mattia Larentis, Emanuele Marchi and Peter Stein">
    <title>Bootstrap Switch · Turn checkboxes and radio buttons into toggle switches</title>
    <link href="docs/css/bootstrap.min.css" rel="stylesheet">
    <link href="docs/css/highlight.css" rel="stylesheet">
    <link href="dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet">
    <link href="http://getbootstrap.com/assets/css/docs.min.css" rel="stylesheet">
    <link href="docs/css/main.css" rel="stylesheet">
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="components/angular/angular.js"></script>
</head>
<body>
<div ng-app="app" ng-controller="ctrl">
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header"> <a class="navbar-brand" href="#">
      <div class="center-block">redis改进工具</div>
      </a> </div>
  </div>
</div>
<div class="container" style="margin-top:100px;">
  <div class="form-group">
    <div class="col-md-6">
      <div class="panel panel-default room">
        <div class="panel-heading room-header">
           <div class="switch has-switch">
             <div class="switch-on switch-animate"> &nbsp&nbsp&nbsp&nbsp数据保障模块&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
               <input class="btn" type="checkbox" checked="checked" onChange="change(this)">
             </div>
           </div>
        </div>
        <div class="panel-body room-content">
        <div ng-model="per">&nbsp&nbsp&nbsp&nbsp持久化检查&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
{{per}}
        		  
		  </div>
          <div ng-model="snap">&nbsp&nbsp&nbsp&nbsp快照状态&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{snap}}
		  </div>
          <div ng-model="aof">&nbsp&nbsp&nbsp&nbspAOF状态&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{aof}}
		  </div>
          <div ng-model="persist">&nbsp&nbsp&nbsp&nbsp持久化状态&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{persist}}
		  </div>
         <div style="position:relative; height:400px; overflow-y:auto">
            <div class="list-group messages" auto-scroll-to-bottom>
				<div class="list-group-item message"
			  ng-repeat="baozhang in baozhangs track by $index"> log：{{baozhang}} </div>
	
            </div>
		  </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default room">
        <div class="panel-heading room-header">
           <div class="switch has-switch">
             <div class="switch-on switch-animate"> &nbsp&nbsp&nbsp&nbsp循环拦截模块&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<input class="btn2" type="checkbox" checked="checked" onChange="change2(this)">
             </div>
           </div>
        </div>
        <div class="panel-body room-content">
          <div>&nbsp&nbsp&nbsp&nbsp循环原因:</div>
          <div ng-model="xhreason">&nbsp&nbsp&nbsp&nbsp{{xhreason}}</div>
          <div>&nbsp&nbsp&nbsp&nbsp状态修改:</div>
          <div ng-model="statusxg">&nbsp&nbsp&nbsp&nbsp{{statusxg}}</div>
          <div style="position:relative; height:400px; overflow-y:auto">
            <div class="list-group messages" auto-scroll-to-bottom>
		<div class="list-group-item message"
	        ng-repeat="message in messages track by $index"> log：{{message}} </div>
            </div>
		  </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<script type="text/javascript">
var socket = io.connect('/');
function change(target){
 console.log("perbutton"+target.checked);
 socket.emit('addpersistence_button',target.checked);
}
function change2(target){
 console.log("logbutton"+target.checked);
 socket.emit('addlogwatch_button',target.checked);
}
        //创建模型
        var app = angular.module('app',[]);
        //创建控制器
        app.controller('ctrl',function($scope){
        var Msgs = [];
        var Bzs = [];
        var Pers = [];
        var Snaps = [];
        var Aofs = [];
        var Persists = [];
        var Xhreasons = [];
        var Statusxgs = [];
        

        socket.emit('getAllMessages');
        socket.emit('getAllbaozhangs');
        socket.emit('getAllpers');
        socket.emit('getAllsnaps');
        socket.emit('getAllaofs');
        socket.emit('getAllpersists');
        socket.emit('getAllxhreasons');
        socket.emit('getAllstatusxgs');



        socket.on('connected',function(){
            console.log('connected:connected to myChat!');
        });

        socket.on('newClient',function(socket){
            console.log('newClient:',socket);
        });

        socket.on('allMessages',function(messages){
            console.log('allMessages->messages:',messages);
            Msgs = messages.slice();
            $scope.$apply(function() {
                $scope.messages = Msgs;
            });

        });

        socket.on('allbaozhangs',function(baozhangs){
            console.log('allbaozhangs->baozhangs:',baozhangs);
            Bzs = baozhangs.slice();
            $scope.$apply(function() {
                $scope.baozhangs = Bzs;
            });

        });

        socket.on('allpers',function(pers){
            console.log('allpers->pers:',pers);
            Pers = pers.slice();
            $scope.$apply(function() {
                $scope.pers = Pers;
            });

        });

        socket.on('allsnaps',function(snaps){
            console.log('allsnaps->snaps:',snaps);
            Snaps = snaps;
            $scope.$apply(function() {
                $scope.snaps = Snaps;
            });

        });

        socket.on('allaofs',function(aofs){
            console.log('allaofs->aofs:',aofs);
            Aofs = aofs;
            $scope.$apply(function() {
                $scope.aofs = Aofs;
            });

        });

        socket.on('allpersists',function(persists){
            console.log('allpersists->persists:',persists);
            Persists = persists;
            $scope.$apply(function() {
                $scope.persists = Persists;
            });

        });

        socket.on('allxhreasons',function(xhreasons){
            console.log('allxhreasons->xhreasons:',xhreasons);
            Xhreasons = xhreasons;
            $scope.$apply(function() {
                $scope.xhreasons = Xhreasons;
            });

        });

        socket.on('allstatusxgs',function(statusxgs){
            console.log('allstatusxgs->statusxgs:',statusxgs);
            Statusxgs = statusxgs;
            $scope.$apply(function() {
                $scope.statusxgs = Statusxgs;
            });

        });



        socket.on('newMessage',function(message) {
            console.log('Get a new message:',message);
            Msgs.unshift(message);
            $scope.$apply(function(){
                $scope.messages = Msgs;
            });
        });

        socket.on('newbaozhang',function(baozhang) {
            console.log('Get a new baozhang:',baozhang);
            Bzs.unshift(baozhang);
            $scope.$apply(function(){
                $scope.baozhangs = Bzs;
            });
        });

        socket.on('newper',function(per) {
            console.log('Get a new per:',per);
            Pers.push(per);
            $scope.$apply(function(){
                $scope.per = per;
            });
        });

        socket.on('newsnap',function(snap) {
            console.log('Get a new snap:',snap);
            Snaps.push(snap);
            $scope.$apply(function(){
                $scope.snap = snap;
            });
        });
        socket.on('newaof',function(aof) {
            console.log('Get a new aof:',aof);
            Aofs.push(aof);
            $scope.$apply(function(){
                $scope.aof = aof;
            });
        });
        socket.on('newpersist',function(persist) {
            console.log('Get a new persist:',persist);
            Persists.push(persist);
            $scope.$apply(function(){
                $scope.persist = persist;
            });
        });
        socket.on('newxhreason',function(xhreason) {
            console.log('Get a new xhreason:',xhreason);
            Xhreasons.push(xhreason);
            $scope.$apply(function(){
                $scope.xhreason = xhreason;
            });
        });
        socket.on('newstatusxg',function(statusxg) {
            console.log('Get a new statusxg:',statusxg);
            Statusxgs.push(statusxg);
            $scope.$apply(function(){
                $scope.statusxg = statusxg;
            });
        });

        

        });

        app.directive('autoScrollToBottom',function() {
            return {
                link:function(scope,element,attrs) {
                    scope.$watch(
                        function() {
                            return element.children().length;
                        },
                        function() {
                            element.animate({
                                scrollTop:element.prop('scrollHeight')
                            },1000);
                        }
                    );
                }
            };
        });
app.directive("scrollBottom", function(){
    return {
        link: function(scope, element, attr){
            var $id= $("#" + attr.scrollBottom);
            $(element).on("click", function(){
                $id.scrollTop($id[0].scrollHeight);
            });
        }
    }
});
    </script>

<script src="docs/js/jquery.min.js"></script>
    <script src="docs/js/bootstrap.min.js"></script>
    <script src="docs/js/highlight.js"></script>
    <script src="dist/js/bootstrap-switch.js"></script>
    <script src="docs/js/main.js"></script>
</body>
</html>
